[run]
source = fluke

[report]
exclude_lines =
    # Re-enable the standard pragma.
    pragma: no cover

    # Skip abstract methods.
    @_absmethod

    # Skip exceptions.
    raise AssertionError
    raise NotImplementedError

    # Skip non-runnable code.
    if 0:
    if __name__=="__main__":